APP_NAME = Gitea on {{ gitea_domains[idx] }}
RUN_USER = {{ gitea.user.name }}
RUN_MODE = prod

[security]
{# INSTALL_LOCK = true disallows access to the install page #}
{% if gitea_first_install %}
INSTALL_LOCK = false
{% else %}
INSTALL_LOCK = true
{% endif %}
INTERNAL_TOKEN = {{ gitea_security_internal_token[idx] }}
SECRET_KEY     = {{ gitea_security_secret_key[idx] }}

[database]
DB_TYPE  = mysql
HOST     = 127.0.0.1:3306
NAME     = {{ (gitea_mysql_databases[idx]).name }}
USER     = {{ gitea.database.user }}
PASSWD   = {{ gitea.database.password }}
SSL_MODE = disable
PATH     = data/{{ gitea_name }}.db

{# https://docs.gitea.com/administration/config-cheat-sheet#repository-repository #}
[repository]
ROOT = {{ gitea.path.storage }}/{{ gitea.instances[idx] }}/{{ gitea.stubs.repository }}
; https://github.com/go-gitea/gitea/issues/3235
{# DEFAULT_PRIVATE: last (default), private, public #}
DEFAULT_PRIVATE = private

[server]
SSH_DOMAIN       = {{ gitea_subdomain }}.{{ gitea_domains[idx] }}
DOMAIN           = {{ gitea_subdomain }}.{{ gitea_domains[idx] }}
{# https://stackoverflow.com/questions/59524372/binding-gitea-to-the-localhost-address-for-tunneling #}
HTTP_ADDR        = 127.0.0.1 # binds port to loopback
HTTP_PORT        = {{ gitea.vhost.port + idx }}
ROOT_URL         = https://{{ gitea_subdomain }}.{{ gitea_domains[idx] }}/
DISABLE_SSH      = false
SSH_PORT         = 22
LFS_START_SERVER = true
LFS_JWT_SECRET   = {{ gitea_lfs_jwt_secret[idx] }}
OFFLINE_MODE     = false

; https://docs.gitea.io/en-us/administration/config-cheat-sheet/#lfs-lfs
[lfs]
STORAGE_TYPE = local
PATH = {{ gitea.path.storage }}/{{ gitea.instances[idx] }}/{{ gitea.stubs.lfs }}

[ui]
DEFAULT_THEME = gitea

[mailer]
ENABLED = false

[service]
REGISTER_EMAIL_CONFIRM            = false
ENABLE_NOTIFY_MAIL                = false
DISABLE_REGISTRATION              = true
ENABLE_CAPTCHA                    = false
REQUIRE_SIGNIN_VIEW               = false
DEFAULT_KEEP_EMAIL_PRIVATE        = true
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
DEFAULT_ENABLE_TIMETRACKING       = true
NO_REPLY_ADDRESS                  = noreply.{{ gitea_domains[idx] }}

[picture]
DISABLE_GRAVATAR        = false
ENABLE_FEDERATED_AVATAR = true

[openid]
ENABLE_OPENID_SIGNIN = false
ENABLE_OPENID_SIGNUP = false

[session]
PROVIDER = file

[log]
MODE      = file
LEVEL     = Debug
ROOT_PATH = {{ gitea.path.work }}/{{ gitea.instances[idx] }}/{{ gitea.stubs.log }}

[oauth2]
JWT_SECRET = {{ gitea_oauth2_jwt_secret[idx] }}

[attachment]
; Whether attachments are enabled. Defaults to `true`
ENABLED = true
; Path for attachments. Defaults to `data/attachments`
PATH = {{ gitea.path.storage }}/{{ gitea.instances[idx] }}/{{ gitea.stubs.attachment }}
; One or more allowed types, e.g. image/jpeg|image/png
ALLOWED_TYPES = */*
; Max size of each file. Default 4MB. Set to 10MB
MAX_SIZE = 10
; Max number of files per upload. Default 5. Set to 10.
MAX_FILES = 10
