[Desktop Entry]
Type=Application
Name=Gitea {{ gitea_domains[idx] }}
GenericName={{ vhost_domains[idx] }}
Comment=Git with a cup of tea
Exec=/usr/bin/chromium-browser --new-window --app="https://{{ vhost_domains[idx] }}"
Categories=Network;WebDevelopment;
Keywords=webapp;gitea;git;
StartupWMClass=chromium-app-gitea
Icon={{ desktop_icon.dest }}
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
