[Unit]
Description=Gitea on {{ gitea_domains[idx] }}
After=syslog.target
After=network.target
After=mysqld.service
#After=postgresql.service
#After=memcached.service
#After=redis.service

[Service]
# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because of that
#LimitMEMLOCK=infinity
#LimitNOFILE=65535
RestartSec=2s
Type=simple
User={{ gitea.user.name }}
Group={{ gitea.user.name }}
WorkingDirectory={{ gitea.path.work }}/{{ gitea.instances[idx] }}
ExecStart={{ gitea.path.binary }} web -c {{ gitea_ini_paths[idx] }}
Restart=always
Environment=USER={{ gitea.user.name }} HOME={{ gitea.user.home }} GITEA_WORK_DIR={{ gitea.path.work }}/{{ gitea.instances[idx] }}
# If you want to bind Gitea to a port below 1024 uncomment
# the two values below
###
#CapabilityBoundingSet=CAP_NET_BIND_SERVICE
#AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
