#jinja2: trim_blocks: False
<VirtualHost *:80>
   ServerAdmin {{ gitea.vhost.mail }}
   ServerName {{ vhost_domains[idx] }}
   {% if gitea.aliases[idx] | length > 1 %}
   ServerAlias {{ gitea.aliases[idx] | join(" ") }}
   {% endif %}

   Redirect permanent / https://{{ vhost_domains[idx] }}/

   ErrorLog ${APACHE_LOG_DIR}/{{ vhost_domains[idx] }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ vhost_domains[idx] }}_access.log combined
</VirtualHost>

<VirtualHost *:443>
   ServerAdmin {{ gitea.vhost.mail }}
   ServerName {{ vhost_domains[idx] }}

   SSLEngine on
   SSLCertificateKeyFile   /etc/letsencrypt/live/{{ vhost_domains[idx] }}/privkey.pem
   SSLCertificateFile      /etc/letsencrypt/live/{{ vhost_domains[idx] }}/cert.pem
   SSLCertificateChainFile /etc/letsencrypt/live/{{ vhost_domains[idx] }}/chain.pem

     {# https://docs.gitea.io/en-us/reverse-proxies/#apache-httpd #}
   ProxyPreserveHost On
   ProxyRequests Off
   AllowEncodedSlashes NoDecode
   ProxyPass / http://127.0.0.1:{{ gitea.vhost.port + idx }}/ nocanon
   ProxyPassReverse / http://127.0.0.1:{{ gitea.vhost.port + idx }}/

   ErrorLog ${APACHE_LOG_DIR}/{{ vhost_domains[idx] }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ vhost_domains[idx] }}_access.log combined
</VirtualHost>
